.App {
  text-align: center;
}

.map-container {
  margin: auto;
  max-height: 100vh;
}
.side-nav {
  position: absolute;
  display: flex;
  background-color: rgba(16, 123, 245, 0.678);
  left: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  align-content: center;
  text-align: center;
  flex-direction: column;
}
h1 {
  font-size: 100px;
}
.logo > img {
  max-width: 200px;
  padding-top: 20px;
}
